<section class="top-bar-section hidden">

	<!-- Navigation Menu: Account -->
	<ul class="left">
		<li class="icon icon-big-grey lock-unlock">
			<a href="" id="unlock" data-reveal-id="modal-unlock-account" data-reveal>
				<span class="icon icon-locked" title="Unlock a new or existing account"></span>
			</a>

			<a href="" id="lock" class="hidden">
				<span class="icon icon-unlocked" title="Lock account"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="icon icon-big-grey account-unlocked hidden">
			<a href="" id="authorize" data-reveal-id="modal-authorize-account" data-reveal>
				<span class="icon icon-key-round" title="Authorize account for third party"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="icon logo">
			<img src="assets/images/logo.png" alt="Nxt" title="Nxt" id="logo" />
		</li>
		<li class="divider show-for-large-up"></li>

		<li class="account-unlocked hidden" title="Account Number">
			<a href="" id="account">
				<span class="icon icon-user2"></span>
				<span class="account-number"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="account-unlocked balance hidden" title="Account Balance">
			<span class="icon icon-nxt-n"></span>
			<span id="balance" data-balance="0"></span>
		</li>
		<li class="divider"></li>

		<li class="account-unlocked send hidden">
			<a href="" id="send" data-reveal-id="modal-send" data-reveal>
				<span data-language-text="labels.send"></span>
				<span class="icon icon-arrow-right3"></span>
			</a>
		</li>
		<li class="divider"></li>
	</ul><!-- /.left -->

	<!-- Navigation Menu for "Messages" Page -->
	<ul class="right page-sub-nav" data-page-id="messages">
		<li class="divider"></li>

		<li class="account-unlocked send hidden">
			<a href="" id="send-message" data-reveal-id="modal-send-message" data-reveal>
				<span class="icon icon-bubble"></span>
				<span data-language-text="labels.sendMessage"></span>
			</a>
		</li>
	</ul><!-- /.page-sub-nav -->

	<!-- Navigation Menu for "Aliases" Page -->
	<ul class="right page-sub-nav" data-page-id="aliases">
		<li class="divider"></li>

		<li class="account-unlocked send hidden">
			<a href="" id="register-alias" data-reveal-id="modal-register-alias" data-reveal>
				<span class="icon icon-star"></span>
				<span data-language-text="labels.registerAlias"></span>
			</a>
		</li>
		<li class="divider"></li>
	</ul><!-- /.page-sub-nav -->

</section><!-- /.top-bar-selection -->