<div id="side-nav-toggle"></div>

<ul class="side-nav">
	<li class="divider"></li>

	<li data-page-nav="transactions" class="active">
		<a href="" data-language-text="labels.transactions" data-language-attribute="title">
			<span class="icon icon-loop2"></span>
			<span class="text" data-language-text="labels.transactions"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="asset-exchange">
		<a href="" data-language-text="labels.assetExchange" data-language-attribute="title">
			<span class="icon icon-spinner2"></span>
			<span class="text" data-language-text="labels.assetExchange"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="contacts">
		<a href="" data-language-text="labels.contacts" data-language-attribute="title">
			<span class="icon icon-users2"></span>
			<span class="text" data-language-text="labels.contacts"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="messages">
		<a href="" data-language-text="labels.messages" data-language-attribute="title">
			<span class="icon icon-bubbles2"></span>
			<span class="text" data-language-text="labels.messages"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="aliases">
		<a href="" data-language-text="labels.aliases" data-language-attribute="title">
			<span class="icon icon-star"></span>
			<span class="text" data-language-text="labels.aliases"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="polls">
		<a href="" data-language-text="labels.polls" data-language-attribute="title">
			<span class="icon icon-signup"></span>
			<span class="text" data-language-text="labels.polls"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="peers">
		<a href="" data-language-text="labels.peers" data-language-attribute="title">
			<span class="icon icon-earth"></span>
			<span class="text" data-language-text="labels.peers"></span>
		</a>
	</li>
	<li class="divider"></li>

	<li data-page-nav="blocks">
		<a href="" data-language-text="labels.blocks" data-language-attribute="title">
			<span class="icon icon-stack"></span>
			<span class="text" data-language-text="labels.blocks"></span>
		</a>
	</li>
	<li class="divider"></li>
</ul>