<section class="top-bar-section hidden">
	<!-- Navigation Menu: Account -->
	<ul class="left">
		<li class="icon icon-big-grey">
			<a href="" id="unlock" data-reveal-id="modal-unlock-account" data-reveal>
				<span class="icon icon-locked" title="Unlock a new or existing account"></span>
			</a>

			<a href="" id="lock" class="hidden">
				<span class="icon icon-unlocked" title="Lock account"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="icon icon-big-grey account-unlocked hidden">
			<a href="" id="authorize" data-reveal-id="modal-authorize-account" data-reveal>
				<span class="icon icon-key-round" title="Authorize account for third party"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="icon show-for-large-up">
			<img src="assets/images/logo.png" alt="Nxt" title="Nxt" id="logo" />
		</li>
		<li class="divider show-for-large-up"></li>

		<li class="account-unlocked hidden" title="Account Number">
			<a href="" id="account">
				<span class="icon icon-user2"></span>
				<span class="account-number"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li class="account-unlocked balance hidden" title="Account Balance">
			<span class="icon icon-nxt-n"></span>
			<span id="balance" data-balance="0"></span>
		</li>
		<li class="divider"></li>

		<li class="account-unlocked send hidden">
			<a href="" id="send" data-reveal-id="modal-send" data-reveal>
				<span data-language-text="labels.send"></span>
				<span class="icon icon-arrow-right3"></span>
			</a>
		</li>
		<li class="divider"></li>
	</ul><!-- /.left -->

	<!-- Navigation Menu: Widgets -->
	<ul class="right">
		<li class="divider"></li>

		<li data-toggle-nav="transactions" class="active">
			<a href="" class="toggle toggle-widget" data-toggle-id="transactions">
				<span class="icon icon-loop2"></span>
				<span data-language-text="labels.transactions"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li data-toggle-nav="peers">
			<a href="" class="toggle toggle-widget" data-toggle-id="peers">
				<span class="icon icon-earth"></span>
				<span data-language-text="labels.peers"></span>
			</a>
		</li>
		<li class="divider"></li>

		<li data-toggle-nav="blocks">
			<a href="" class="toggle toggle-widget" data-toggle-id="blocks">
				<span class="icon icon-stack"></span>
				<span data-language-text="labels.blocks"></span>
			</a>
		</li>
		<li class="divider"></li>

		<!--<li data-toggle-nav="accounts">
			<a href="" class="toggle toggle-widget" data-toggle-id="accounts">
				<span class="icon icon-users2"></span>
				<span class="show-for-large-up" data-language-text="labels.accounts" style="display: inline !important;"></span>
			</a>
		</li>
		<li class="divider"></li>-->
	</ul><!-- /.right -->
</section><!-- /.top-bar-selection -->