/*div { position: absolute; }*/

html, body { height: 100%; overflow: hidden; }

.icon { font-size: larger; }
.icon-large, li.icon .icon { font-size: 2rem; }

.icon-light-blue { color: #6bc4ff !important; }
.icon-light-yellow { color: #ffd063 !important; }
.icon-light-red { color: #ff6161 !important; }

.top-bar { z-index: 10; position: relative; }
.top-bar-section ul li.icon a { display: block; margin: 0; height: 36px !important; }
.top-bar-section ul li.icon-big-grey a { padding: 0 10px !important; text-align: center; }

.top-bar-section .icon { vertical-align: middle; }

.top-bar-section ul li a { height: 45px; }
.top-bar-section ul li.icon-big-grey .icon { display: block; margin-top: 4px; vertical-align: top; }
.top-bar-section ul li.icon-big-grey a { display: block; color: #666 !important; }
.top-bar-section ul li.icon-big-grey a:hover { color: #108567 !important; }
.top-bar-section ul li.lock-unlock a#unlock { padding: 0 5px 0 15px !important; }
.top-bar-section ul li.logo { padding: 0 10px; }

.top-bar-section ul.page-sub-nav { display: none; }

img#logo { margin: 8px 6px 4px 6px; height: 30px; border: none; }

#side-nav {
	position: relative;
	clear: both;
	float: left;
	height: 100%;
	overflow: hidden;
}
#side-nav ul {
	padding: 0;
	width: 200px;
	height: 100%;
	background-color: #333;
	color: #fff;
}
#side-nav ul li { margin: 0; padding: 0; }
#side-nav ul li.divider { border-color: #4e4e4e; }
#side-nav ul li a { padding: 10px 12px; color: #fff; }
#side-nav ul li a:hover { background-color: #272727 !important; }

#side-nav ul li a .icon { padding-right: 4px; }

#side-nav-toggle {
	z-index: 30;
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background-color: #444;
	cursor: col-resize;
}
#side-nav-toggle:hover { background-color: #555; }

.top-bar-section ul li.active a,
#side-nav ul li.active a { background-color: #191919 !important; }

.top-bar-section ul li.active a:hover,
#side-nav ul li.active a:hover { background-color: #222 !important; }

/* Transactions */
#side-nav li.active a .icon-loop2,
#side-nav li a:hover .icon-loop2,
.page h3 .icon-loop2 { color: #79c1db; }

/* Asset Exchange */
#side-nav li.active a .icon-spinner2,
#side-nav li a:hover .icon-spinner2,
.page h3 .icon-spinner2 { color: #e07d36; }

/* Contacts */
#side-nav li.active a .icon-users2,
#side-nav li a:hover .icon-users2,
.page h3 .icon-users2 { color: #6681ed; }

/* Messages */
#side-nav li.active a .icon-bubbles2,
#side-nav li a:hover .icon-bubbles2,
.page h3 .icon-bubbles2 { color: #faaae9; }

/* Aliases */
#side-nav li.active a .icon-star,
#side-nav li a:hover .icon-star,
.page h3 .icon-star { color: #ffd063; }

/* Polls */
#side-nav li.active a .icon-signup,
#side-nav li a:hover .icon-signup,
.page h3 .icon-signup { color: #ba67eb; }

/* Peers */
#side-nav li.active a .icon-earth,
#side-nav li a:hover .icon-earth,
.page h3 .icon-earth { color: #a8f069; }

/* Blocks */
#side-nav li.active a .icon-stack,
#side-nav li a:hover .icon-stack,
.page h3 .icon-stack { color: #de4348; }

li.account, li.balance {
	padding: 0 10px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: #000 1px 1px 3px;
	line-height: 42px;
	cursor: default;
}

li.account .icon { font-size: 16px; }

#account:hover { color: #9f9; }

li.balance .icon { color: #9f9; }
li.balance { color: #cfc; }

#balance .decimal {
	font-size: 14px;
}

span.access { text-decoration: underline; }

.secret-phrase-hint { float: right; padding: 0 4px 8px 4px; font-size: 12px; }
.secret-phrase-hint .label { padding-right: 6px; font-weight: bold; }
.secret-phrase-hint .hint { color: #666; }
.secret-phrase-hint:hover .hint { color: #444; }

.label { background-color: #0e8265; }

.secret-phrase-area { position: absolute; right: 4px; bottom: 0; }

.secret-phrase-char-counter { }

#generate-secret-phrase { cursor: pointer; }

.select-cipher { z-index: 1200; position: relative; cursor: pointer; }
.select-cipher:hover, #generate-secret-phrase:hover { background-color: #333; }

.select-cipher-menu {
	z-index: 1000;
	display: none;
	position: absolute;
	right: 36px; bottom: -10px;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	list-style: none;
}
.select-cipher-menu li {
	display: inline-block;
	margin: 0 2px 2px 0;
	padding: 4px 2px;
	width: 24px;
	color: #fff;
	background-color: #0e8265;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	font-size: 11px;
	text-align: center;
	line-height: 1em;
	cursor: pointer;
}
.select-cipher-menu li:hover { background-color: #333; }

button, .button { padding-top: 0.7rem; padding-bottom: 0.7rem; background-color: #0e8265; border-color: #065c43; }

button:hover, button:focus { background-color: #15b089; }

#pages { z-index: 1; float: left; position: relative; margin: 0 auto; padding: 0 6px; width: 92%; height: 90%; }

.page {
	z-index: 1;
	position: absolute;
	top: 12px;
	margin: 0 8px;
	padding: 8px;
	width: 100%;
	height: 100%;
	background: #222 url('../images/bg/iron-grip.png');
	color: #fff;
	overflow-y: auto;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
	box-shadow: #999 4px 4px 10px;
	overflow: hidden;
}

.page * { color: #fff; }
.page .content { height: 100% !important; }

.page .content.scrollable {
	height: 92%;
	overflow-y: auto;
}

.page h3 {
	margin-bottom: 8px;
	padding: 0 4px 4px 4px;
	border-bottom: 1px solid #555;
	font-size: 32px;
	letter-spacing: 0.12rem;
	line-height: 0.8em;
}
.page h3 span.icon { font-size: 24px; line-height: 1em; }

#pages #logo-splash {
	display: block;
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -203px;
	width: 406px;
	height: 152px;
	background: url('../images/logo-splash.png') center center no-repeat;
}

.bar {
	left: 0; 
	width: 100%;
	height: 50px;
	background: #333 url('../images/bg/dark-fish-skin.png');
}

.button-icon {
	width: 32px;
	height: 32px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.8;
	cursor: pointer;
}
.button-icon:hover { opacity: 1; }

.icon-close-red {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #c00;
	cursor: pointer;
}
.icon-close-red:hover {
	color: #f00 !important;
	cursor: pointer;
	text-shadow: #000 0 0 3px;
}

div.tabs { margin-bottom: 12px; height: 94%; }

div.page div.tab-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 6px;
	width: 100%;
	height: 64%;
}

div.page div.tab-section {
	position: relative;
	padding: 8px 2px;
	overflow: hidden;
}

div.page div.tab-section h4.no-items {
	z-index: 60;
	margin-top: 32px;
	width: 100%;
	font-size: 32px;
	line-height: 1em;
	text-align: center;
	text-shadow: #000 2px 2px 4px;
}
div.page div.tab-section h4.no-items .icon { font-size: 28px; }

div.page div.tab-section h4.no-items .sub { margin-top: 6px; }

div.page div.collapsible-section-trigger,
div.page div.tab-section-trigger {
	position: relative;
	margin-bottom: 0.3rem;
	padding: 6px;
	border-bottom: 1px solid #555;
	font-size: 20px;
	line-height: 1em;
	text-shadow: #000 1px 1px 3px;
	cursor: pointer;
}

div.page div.collapsible-section-trigger:hover {
	border-color: #888;
}

div.page div.collapsible-section-trigger div.highlight-bg,
div.page div.tab-section-trigger div.highlight-bg {
	display: none;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0;
	opacity: 0.3;
}
div.page div.collapsible-section-trigger:hover div.highlight-bg,
div.page div.collapsible-section-trigger.expanded div.highlight-bg,
div.page div.tab-section-trigger:hover div.highlight-bg,
div.page div.tab-section-trigger.active div.highlight-bg {
	display: block;
}

div.page div .icon { margin-right: 4px; }

div.page div .counter {
	position: absolute;
	top: 10px; right: 8px;
	color: #ddd;
	text-align: right;
}

div.collapsible-section { height: 0; overflow-y: auto; }
div.collapsible-section.expanded { height: auto; }

div.page div.tab-section-trigger { min-height: 46px; }
div.page div.tab-section-trigger ul.filters {
	display: none;
	margin: 0;
	padding: 0 8px 0 36px;
	list-style: none;
}
div.page div.tab-section-trigger.active ul.filters { display: inline-block; }
div.page div.tab-section-trigger ul.filters li {
	display: inline-block;
	padding: 4px 5px;
	border: 1px solid #444;
	font-size: smaller;
	line-height: 1em;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
div.page div.tab-section-trigger ul.filters li:hover,
div.page div.tab-section-trigger ul.filters li.active {
	border-color: #108567;
}
div.page div.tab-section-trigger ul.filters li .icon { vertical-align: middle; }

ul.items {
	margin: 0 4px;
	list-style: none;
}
ul.items li {
	position: relative;
	margin: 0 0 5px 0;
	padding: 6px 8px;
	background-color: #222;
	border: 1px solid #555;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

ul.items li:hover {
	background-color: #1a1a1a;
	border-color: #666;
}

ul.items li h4 { font-size: 18px; }
ul.items li h4 .icon { font-size: 18px; }

ul.items li h4 .forger { margin-left: 18px; }

ul.items li h5 { font-size: 13px; }
ul.items li h5 span.readable-timestamp { margin-left: 8px; color: #999; font-size: 11px; font-style: italic; }

ul.items li a:hover,
ul.items li a:hover * { color: #ffa74a; }

ul.items li div.amount { float: left; color: #cfc; font-size: 18px; font-weight: bold; text-shadow: #000 1px 1px 3px; }
ul.items li div.amount .icon-nxt-n { color: #9f9; vertical-align: middle; font-size: 26px; }
ul.items li div.amount span.unit { color: #888; font-size: 13px; font-weight: normal; }
ul.items li:hover div.amount span.unit { color: #aaa; }

ul.items li div.amount .fee { margin-left: 4px; }
ul.items li div.amount .fee .icon { font-size: 10px; }
ul.items li div.amount .fee { font-size: 13px; }

ul.items li div.amount .additional-data {
	display: inline-block;
	margin-left: 18px;
	padding: 6px;
	background-color: #141414;
	border: 1px solid #666;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	font-size: 12px;
	font-weight: normal;
}

ul.items li .confirmations,
ul.items li .transactions { position: absolute; top: 8px; right: 8px; font-size: 13px; }

ul.items li .confirmations,
ul.items li .confirmations *,
ul.items li .transactions,
ul.items li .transactions .icon { color: #56e32b; }

ul.items li .confirmations.confirmations-0,
ul.items li .confirmations.confirmations-0 *,
ul.items li .transactions.transactions-0,
ul.items li .transactions.transactions-0 * { color: #de5050; }

ul.items li .confirmations.confirmations-1,
ul.items li .confirmations.confirmations-2,
ul.items li .confirmations.confirmations-3,
ul.items li .confirmations.confirmations-1 *,
ul.items li .confirmations.confirmations-2 *,
ul.items li .confirmations.confirmations-3 *, { color: #e3842b; }

ul.items li .confirmations.confirmations-4,
ul.items li .confirmations.confirmations-5,
ul.items li .confirmations.confirmations-6,
ul.items li .confirmations.confirmations-4 *,
ul.items li .confirmations.confirmations-5 *,
ul.items li .confirmations.confirmations-6 * { color: #e3dd2b; }

ul.items li .confirmations.confirmations-7,
ul.items li .confirmations.confirmations-8,
ul.items li .confirmations.confirmations-9,
ul.items li .confirmations.confirmations-7 *,
ul.items li .confirmations.confirmations-8 *,
ul.items li .confirmations.confirmations-9 * { color: #93e32b; }

ul.items li .transaction-info,
ul.items li .block-info { clear: both; padding: 8px 0 0 0; font-size: 15px; }
ul.items li .transaction-info a,
ul.items li .block-info a { color: #fff88f; }
ul.items li .transaction-info a:hover,
ul.items li .block-info a:hover { color: #ffa142; }
ul.items li .transaction-info .icon,
ul.items li .block-info .icon { padding: 0 3px; font-size: 18px; vertical-align: top; }
ul.items li .transaction-info a .icon,
ul.items li .block-info a .icon { padding: 0; font-size: 13px; }

ul.items li .transaction-info a.me .account-number,
ul.items li .transaction-info a.me .icon { color: #6bc4ff; }

ul.items li .transaction-info a.me:hover .account-number,
ul.items li .transaction-info a.me:hover .icon { color: #ffa74a; }

ul.items li .transaction-info a.transaction-id { display: inline-block; margin-left: 18px; }

table.items {
	margin: 0 4px 4px 4px;
	width: 100%;
}
table.items tr {
	position: relative;
	padding: 6px 8px;
	background-color: #222;
	border: 1px solid #555;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

table.items tr:hover {
	background-color: #1a1a1a;
	border-color: #666;
}

table.items tr td { border-bottom: 1px solid #555; font-size: 12px; }

table.items tr td.icon-cell { padding-right: 0; width: 22px; }
table.items tr td.icon-cell .icon { margin-right: 0; }

table.items tr td.disconnected .icon { color: #999; }

table.items tr td.enabled-weight,
table.items tr td.enabled-weight .icon { color: #56e32b; }
table.items tr td.disabled-weight,
table.items tr td.disabled-weight .icon { color: #de5050; }

table.items tr td.actions { text-align: right; }
table.items tr td.actions .icon { cursor: pointer; }
table.items tr td.actions .remove { color: #e33; }
table.items tr td.actions .remove:hover { color: #f00; }

table.items tr td.actions button { margin-bottom: 0; padding: 4px 8px; font-size: 12px; text-shadow: #000 1px 1px 1px; }

h4.no-items { display: none; }
h4.no-items .sub { font-size: 16px; }

div#generation-time {
	padding: 16px 12px 8px 12px;
	text-align: center;
	text-shadow: #000 2px 2px 5px;
}
div#generation-time strong { margin-left: 6px; color: #cfc; }

.reveal-modal {
	margin-left: -30%;
	padding: 3.2rem 1.2rem 1.4rem 1.2rem;
	width: 60%;
	min-width: 520px;
	color: #222;
	border: none;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	box-shadow: #000 3px 3px 5px;
}

.reveal-modal h2 {
	position: absolute;
	top: -3px; left: 0;
	padding: 3px; 0;
	width: 100%;
	background-color: #1c1c1c;
	color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.reveal-modal h2 .icon { font-size: 18px; }

.reveal-modal .icon-close-red { color: #666; font-size: 13px; }

.reveal-modal div.icon-modal { float: left; padding-right: 36px; color: #15b089; font-size: 72px; }
.reveal-modal div.icon-modal.success { color: #090; }
.reveal-modal div.icon-modal.warning { color: #db800f; }
.reveal-modal div.icon-modal.error { color: #700; }

.reveal-modal .modal-content { margin: 0 0 18px 0; color: #444; }

.reveal-modal p { font-size: 13px; }

.reveal-modal .loading {
	display: none;
	z-index: 1000;
	position: absolute;
	top: 32%;
	left: 50%;
	margin-left: -48px;
	width: 96px;
	height: 96px;
	background: url('../images/loading.gif') center center no-repeat;
	color: #333;
}

.reveal-modal .loading div.text {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-shadow: #fff 0 0 3px;
}

.modal-bottom-row * { margin-bottom: 0; }

button:focus { border: none; outline: none; }

input[type="checkbox"]+label, input[type="radio"]+label {
	margin-left: 0;
	padding-left: 0.3rem;
}

div.send-double-click {
	padding-top: 7px;
	color: #666;
	font-size: 11px;
}

.icon-amount-input { color: #076147; font-size: 24px; vertical-align: middle; }
input.amount { display: inline-block; width: 80%; }

label { color: #777; font-size: smaller; }

button, button .icon { vertical-align: middle; }
button.icon-left { padding-left: 1.5rem; }
button.icon-right { padding-right: 1.5rem; }

input:focus, input:active { border-color: #15b089 !important; }

div#qr-code { margin: 0 auto; padding: 8px; width: 272px; height: 272px; border: 1px solid #888; }

h3.account-number { text-align: center; }

div#templates { display: none; }

div#footer {
	z-index: 50;
	position: absolute;
	bottom: 6px;
	left: 12px;
	color: #888;
	font-size: 12px;
	text-align: right;
}
div#footer .versions { display: none; text-shadow: #000 0 0 3px; }