<div class="page-header">
	<h3>
		<span class="icon icon-bubbles2"></span>
		<span data-language-text="labels.messages"></span>
	</h3>
</div>

<div class="content">
	<div class="tabs" data-type="messages">
		<div class="tab-nav">

			<!-- My Messages -->
			<div class="tab-section-trigger active" data-section-id="my-messages-section">
				<span class="icon icon-bubble icon-light-blue"></span>
				<span data-language-text="labels.myMessages"></span>

				<span class="counter">
					<span class="current">0</span>
					<span class="divider hidden">/</span>
					<span class="total hidden">0</span>
				</span>

				<ul class="filters" data-filter-callback="updateCounter('messages', 'my')">
					<li class="active" data-filter="all">
						<span class="icon icon-radio-unchecked"></span>
						<span data-language-text="labels.all"></span>
					</li>
					<li data-filter="received">
						<span class="icon icon-arrow-left2"></span>
						<span data-language-text="labels.received"></span>
					</li>
					<li data-filter="sent">
						<span class="icon icon-arrow-right2"></span>
						<span data-language-text="labels.sent"></span>
					</li>
					<li data-filter="unencrypted">
						<span class="icon icon-info"></span>
						<span data-language-text="labels.unencrypted"></span>
					</li>
					<li data-filter="encrypted">
						<span class="icon icon-question"></span>
						<span data-language-text="labels.encrypted"></span>
					</li>
				</ul>

				<div class="highlight-bg"></div>
			</div>

			<!-- All Messages -->
			<div class="tab-section-trigger" data-section-id="all-messages-section">
				<span class="icon icon-bubbles icon-light-yellow"></span>
				<span data-language-text="labels.allMessages"></span>

				<span class="counter">
					<span class="current">0</span>
					<span class="divider hidden">/</span>
					<span class="total hidden">0</span>
				</span>

				<ul class="filters" data-filter-callback="updateCounter('messages', 'all')">
					<li class="active" data-filter="all">
						<span class="icon icon-radio-unchecked"></span>
						<span data-language-text="labels.all"></span>
					</li>
					<li data-filter="unencrypted">
						<span class="icon icon-info"></span>
						<span data-language-text="labels.unencrypted"></span>
					</li>
					<li data-filter="encrypted">
						<span class="icon icon-question"></span>
						<span data-language-text="labels.encrypted"></span>
					</li>
				</ul>

				<div class="highlight-bg"></div>
			</div>

		</div><!-- /.tab-nav -->

		<div class="tab-content scrollable">

			<!-- My Messages -->
			<div id="my-messages-section" class="tab-section">

				<ul id="my-messages" class="items"></ul>

				<h4 class="no-items">
					<span class="icon icon-info2"></span> <span data-language-text="messages.noMessages"></span>
					<div class="sub" data-language-text="messages.noMessagesSub"></div>
				</h4>
			</div>

			<!-- All Messages -->
			<div id="all-messages-section" class="tab-section hidden">

				<ul id="all-messages" class="items"></ul>

				<h4 class="no-items">
					<span class="icon icon-info2"></span> <span data-language-text="messages.noMessages"></span>
					<div class="sub" data-language-text="messages.noMessagesSub"></div>
				</h4>
			</div>

		</div><!-- /.tab-content -->
	</div><!-- /.tabs -->
</div><!-- /.content -->